@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*****************************top-section-style********************************/
#top-section{
    margin: 0;
    padding: 0;
    background-color: #2D25A0;
    font-family: 'Poppins', sans-serif;
    color:white;
}

.top-section-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left:156px;
    margin-right:140px;
}

.left-in-top{
    padding-top: 207px;
    margin-right:102px;
}
.left-in-top h1{
    width:485px;
    font-size:64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.watch-live{
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    padding:10px 24px;
    
}
.watch-live:hover{
    background-color: #25a044;
    transition: all 1.5s ease 0s;
}
.right-in-top{
    justify-content: flex-end;
    padding-top:135px;
}
.right-in-top img{
    width:556px;
}
