@media only screen and (max-width:1024px) and(min-width:360px){
    .top-section-container{
        margin-right:0px;
        margin-left: 0px;
        display: block;
    }
    .left-in-top{
        margin-right: 0px;
    }
    .right-in-top img{
        width:100%;
    }
    .middle-section-container{
        display: block;

    }
    .blogs{
        margin-bottom: 20px;
    }
   .left{
       width:50%;
       margin-right:0px;
   }
    .extra-section-container{
        display: block;
        margin:5% 15%;
    }
    footer{
        margin-right:0px;
        margin-left:0px;
    }
    .middle-footer i{
        margin-right:0px;
    }
}
